---
const experience = [
  {
    company: "Altiva Soluciones S.A",
    image: "Altiva.png",
    position: "Fullstack Developer",
    date: "6/2023 - 12/2023",
    technologies: [
      "C#",
      ".Net",
      "SQL server",
      "React",
      "React Native",
      "Bootstrap",
    ],
    tasks: [
      "Desarrollo de módulos para la aplicación web principal de la empresa, abarcando tanto el Frontend como el Backend.",
      "Tecnologías Frontend como React Js y React Native, así como el framework Bootstrap para el diseño.",
      "Implementación del Backend utilizando .Net y Swagger para la documentación además del manejo de la Base de datos SQL Server.",
      "Diseño e implementación de funcionalidades para la generación de tickets y facturas utilizando JSPDF.",
    ],
    achievements:
      "Concluir con los módulos asignados en la aplicación web y pasar a aplicarlo a una aplicación móvil para un cliente en específico.",
  },
  {
    company: "Bio&Gen",
    image: "Bio&Gen.jpg",
    position: "Software Engineer",
    date: "6/2022 - 10/2023",
    technologies: ["Node Js", "Express Js", "React", "Mongo DB", "Tailwind"],
    tasks: [
      "Colaboración en la cobertura de necesidades del cliente junto a un equipo de trabajo, desde el levantamiento de requerimientos.",
      "Desarrollo de la interfaz de usuario utilizando React JS y Tailwind CSS.",
      "Implementación del Backend con Node Js y Express Js, enlazado con la Base de datos Mongo Db.",
      "Realización de pruebas unitarias con Jest para garantizar la calidad del software.",
      "Gestión de tareas utilizando Azure DevOps y aplicación de la metodología SCRUM para el seguimiento y control del proyecto.",
    ],
    achievements:
      "Culminar el proyecto en los tiempos establecidos en los sprints y realizar el deploy y entrega del proyecto al cliente",
  },
];
---

<div>
  <h1 class="text-black my-8 text-center">EXPERIENCIA LABORAL</h1>
  <div
    class="flex flex-col justify-center items-center content-center flex-wrap gap-4 md:flex-row md:items-start"
  >
    {
      experience.map((exp) => (
        <div class="bg-white rounded-lg shadow-md p-6 transition duration-300 ease-in-out transform hover:scale-[101%] md:w-2/5">
          <img
            class="rounded-full w-16 shadow-md shadow-black transition duration-200 hover:animate-pulse inline right-2 absolute"
            src={`/public/${exp.image}`}
            alt="imagen de empresa"
          />
          <h2 class="text-xl font-bold mb-2  pt-5 pb-1">{exp.company}</h2>

          <p class="text-gray-600 mb-2">
            <span class="font-bold">Cargo:</span> {exp.position}
          </p>
          <p class="text-gray-600 mb-2">
            <span class="font-bold">Periodo:</span> {exp.date}
          </p>
          <p class="text-gray-600 mb-2">
            <span class="font-bold">Tecnologías utilizadas:</span>{" "}
            {exp.technologies.join(", ")}
          </p>
          <div class="mb-2">
            <details class="mb-2">
              <summary class="font-bold cursor-pointer">
                Tareas realizadas
              </summary>
              <ul class="list-disc pl-6">
                {exp.tasks.map((task) => (
                  <li class="text-gray-600">{task}</li>
                ))}
              </ul>
            </details>
            <details class="mb-2">
              <summary class="font-bold cursor-pointer">Logros</summary>
              <p class="text-gray-600">{exp.achievements}</p>
            </details>
          </div>
        </div>
      ))
    }
  </div>
</div>
